body {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 1.5em;
  color: white;
}

#container {
  padding-top: 20%;
}

#hexclock {
  font-size: 3em;
}

#clock {
  font-size: 1.5em;
}
